$color-white: #fff;
$color-whitish: #FFFFF3;
$color-whitish-2: #FFFFE5;
$color-red: #EC7357;
$color-red-light: #FF7C5E;
$color-black: #274555;
$color-brown: #3C3530;
$color-blue: #2EC4B6;
$color-yellow: #fdc23e;
