/*
* Use the following tool to name the color:
* http://chir.ag/projects/name-that-color/
*/

$color-white: #FFF;
$color-chilean-heath: #FFFFE5;
$color-mine-shaft: #222;
$color-burnt-sienna: #EC7357;
$color-bittersweet: #FF7C5E;
$color-blue-dianne: #274555;
$color-turquoise: #2EC4B6;
$color-bright-sun: #FFDF39;
