/*
* Use the following tool to name the color:
* http://chir.ag/projects/name-that-color/
*/

$color-white: #fff;
$color-gallery: #eee;
$color-silver-chalice: #aaa;
$color-emperor: #555;
$color-mine-shaft: #222;
$color-chilean-heath: #ffffe5;
$color-burnt-sienna: #ec7357;
$color-bittersweet: #ff7c5e;
$color-blue-dianne: #274555;
$color-turquoise: #2ec4b6;
$color-bright-sun: #ffdf39;
$color-wild-willow: #AACD6E;
$color-black: #000;

$color-answer-correct: $color-wild-willow;
$color-answer-incorrect: $color-burnt-sienna;
