.actionForm {
  @include center-absolute;
  left: 82%;
  animation: fadeIn 1s forwards;
  opacity: 0;

  h1 {
    text-align: center;
    color: $color-white;
  }

  form {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      min-width: 300px;
      margin: 10px 0;
    }
  }

  @keyframes fadeIn {
    from {
      margin-top: -15px;
    }
    to {
      opacity: 1;
    }
  }
}
