$font-family: 'Vollkorn', serif;
$font-size: 16px;

input {
  font-family: $font-family;
  font-size: $font-size;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: $color-black;

  &:focus {
    background-color: $color-whitish-2;
  }
}

input[type="submit"] {
  background: none;
  background-color: $color-red;
  color: $color-whitish;
  cursor: pointer;
  transition: .3s all;

  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }

  &:focus,
  &:not([disabled]):hover {
    background-color: $color-red-light;
  }
}

.actionForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    text-align: center;
    color: $color-black;
  }

  form {
    border: 10px solid $color-black;
    border-top: 10px solid $color-blue;
    border-bottom: 10px solid $color-blue;
    background-color: $color-blue;
    color: $color-whitish;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      min-width: 300px;
      margin: 10px 0;
    }
  }
}
