.actionForm {
  @include center-absolute;
  background-color: rgba(0,0,0,.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1s forwards;
  z-index: -1;

  form {
    margin: 0 auto;
    width: 400px;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      min-width: 300px;
      margin: 10px 0;
    }
  }

  @keyframes fadeIn {
    from {
      margin-top: -20px;
    }
    to {
      opacity: 1;
    }
  }
}
