@import 'common';

.Account {
  @include background-picture("../img/pic-elephant-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .container {
    max-width: 800px;
    margin: $header-height auto;
    background-color: rgba(0,0,0,.4);
    padding: 30px 50px;
  }

  .user-info {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    margin: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;

    &__label,
    &__value {
      padding: 15px;
    }

    &__label {
      background-color: $color-bright-sun;
      color: $color-mine-shaft;
      min-width: 150px;
      border-radius: 3px 0 0 3px;
    }

    &__value {
      text-align: left;
      padding-left: 20px;
      background-color: $color-mine-shaft;
      color: $color-white;
      letter-spacing: 1px;
      border-radius: 0 3px 3px 0;
      flex-grow: 1;
    }
  }
}
