@import '../node_modules/reset-css/_reset';
@import 'common';

body {
  font-family: $font-family-serif;
  background-color: $color-white;
  font-size: $font-size;
}

.container {
  max-width: 800px;
  margin: $header-height auto;
  background-color: rgba(0,0,0,.7);
  padding: 30px 50px;
}

.stats-number {
  $radius: 42px;

  background-color: $color-white;
  color: $color-bittersweet;
  border-radius: $radius;
  height: $radius;
  width: $radius;
  line-height: $radius;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  font-family: $font-family-sans-serif-words;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 12px;
}

h1 {
  font-size: 250%;
  line-height: 1.2;
  color: $color-white;
  margin: 30px 20px;
  border-bottom: 3px solid $color-bright-sun;
}

h2 {
  font-size: 220%;
  line-height: 1.2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-sans-serif-nav;
  color: $color-silver-chalice;
  font-weight: 300;
  letter-spacing: 1px;
  transition: .3s all;

  &:hover {
    color: $color-emperor;
  }
}

button,
input {
  font-family: $font-family-serif;
  font-size: $font-size;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: $color-blue-dianne;

  &:focus {
    background-color: $color-chilean-heath;
  }

  @include placeholder {
    color: $color-silver-chalice;
  }
}

input:not([type="submit"]) {
  border: 2px solid $color-gallery;
  color: $color-mine-shaft;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  background-color: $color-burnt-sienna;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-sans-serif;
  letter-spacing: 1px;
  transition: .3s all;

  &[disabled] {
    cursor: default;
    opacity: 0.8;
  }

  &:focus,
  &:not([disabled]):hover {
    background-color: $color-bittersweet;
  }
}

