@import '../node_modules/reset-css/_reset';
@import 'common';

body {
  font-family: $font-family-serif;
  background-color: $color-white;
  font-size: $font-size;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 250%;
  line-height: 1.2;
  color: $color-white;
  margin: 30px 20px;
  text-shadow: 0 0 5px $color-black;
  border-bottom: 3px solid $color-bright-sun;
}

h2 {
  font-size: 220%;
  line-height: 1.2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-sans-serif-nav;
  color: $color-silver-chalice;
  font-weight: 300;
  letter-spacing: 1px;
  transition: .3s all;

  &:hover {
    color: $color-emperor;
  }
}

input {
  font-family: $font-family-serif;
  font-size: $font-size;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: $color-blue-dianne;

  &:focus {
    background-color: $color-chilean-heath;
  }

  @include placeholder {
    color: $color-silver-chalice;
  }
}

input:not([type="submit"]) {
  color: $color-mine-shaft;
}

input[type="submit"] {
  background: none;
  background-color: $color-burnt-sienna;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-sans-serif;
  letter-spacing: 1px;
  transition: .3s all;

  &[disabled] {
    cursor: default;
    opacity: 0.8;
  }

  &:focus,
  &:not([disabled]):hover {
    background-color: $color-bittersweet;
  }
}

