@import '../node_modules/reset-css/_reset';
@import 'common';

$font-family-serif: 'Vollkorn', serif;
$font-family-sans-serif-nav: 'Source Sans Pro', 'Oswald', sans-serif;
$font-family-sans-serif: 'Oswald', 'Source Sans Pro', sans-serif;
$font-size: 16px;

body {
  font-family: $font-family-serif;
  background-color: $color-gallery;
  font-size: $font-size;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 250%;
  line-height: 2.5;
}
h2 {
  font-size: 200%;
  line-height: 2;
}
h3 {
  font-size: 160%;
  line-height: 1.6;
}
h4 {
  font-size: 145%;
  line-height: 1.45;
}
h5 {
  font-size: 130%;
  line-height: 1.3;
}
h6 {
  font-size: 115%;
  line-height: 1.15;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-sans-serif-nav;
  color: $color-silver-chalice;
  font-weight: 300;
  transition: .3s all;

  &:hover {
    color: $color-emperor;
  }
}

input {
  font-family: $font-family-serif;
  font-size: $font-size;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: $color-blue-dianne;

  &:focus {
    background-color: $color-chilean-heath;
  }

  @include placeholder {
    color: $color-silver-chalice;
  }
}

input:not([type="submit"]) {
  color: $color-mine-shaft;
}

input[type="submit"] {
  background: none;
  background-color: $color-burnt-sienna;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-sans-serif;
  letter-spacing: 1px;
  transition: .3s all;

  &[disabled] {
    cursor: default;
    opacity: 0.8;
  }

  &:focus,
  &:not([disabled]):hover {
    background-color: $color-bittersweet;
  }
}

