@import 'common';

.AuthForm {
  @include background-picture("../img/pic-narrative-high.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    padding: 100px 0;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
  }

  &__form {

    h2 {
      text-align: center;
      color: $color-white;
    }

    form {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      animation: FadeIn-Form 1s forwards;
      opacity: 0;
    }

    input {
      width: 350px;
      margin: 10px 0;
    }

  }

  &__links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      padding: 0 5px;
    }
  }

  @keyframes FadeIn-Form {
    to {
      opacity: 1;
    }
  }
}
