@import 'common';

.header {
  $header-height: 70px;
  $header-font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: $header-font-size;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: $header-height;

  nav {
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 15px;
    }

    a {
      padding: 5px 10px;
      color: $color-white;
      border-radius: 3px;
      font-family: $font-family-sans-serif;

      &:hover {
        background-color: $color-burnt-sienna;
      }
    }
  }
}
