@import 'base';

header {
  $header-height: 70px;
  $header-font-size: 16px;

  background-color: $color-mine-shaft;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $header-font-size;
  font-weight: 300;

  nav {
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 15px;

      a {
        color: $color-white;
        padding: 5px 10px;
        text-decoration: none;
        transition: .3s all;

        &:hover,
        &.active {
          color: $color-bright-sun;
        }
      }
    }
  }
}
