@import 'common';

.Home {
  @include background-picture("../img/pic-children-high.jpg");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .info {
    background-color: rgba(0,0,0,.7);
    padding: 30px 0 25px;
    text-shadow: 0 0 5px $color-black;
    color: $color-white;
    width: 100%;
    margin: 70px auto;

    h1 {
      text-align: center;
      animation: FadeIn-Text 2s forwards;
    }

    @keyframes FadeIn-Text {
      from {
        opacity: 0;
        margin-left: -120px;
      }
      to {
        opacity: 1;
      }
    }

    span {
      color: $color-bittersweet;
    }

    p {
      padding: 10px 0;
      text-align: justify;
    }
  }
}
