@import 'base';

header {
  $header-height: 80px;
  $header-font-size: 20px;

  background-color: $color-blue;
  height: $header-height;
  font-size: $header-font-size;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  nav {
    margin-right: 20px;

    li {
      display: inline-block;
      margin-right: 15px;

      a {
        background-color: $color-whitish;
        border-radius: 10px 0;
        color: $color-brown;
        padding: 5px 10px;
        text-decoration: none;
        transition: .3s all;

        &:hover {
          border-radius: 0 10px ;
        }
      }
    }
  }
}

.HomePage {
  $height: 250px;
  $font-size: 24px;

  &__quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: $height;
    background-color: $color-red;
    color: $color-whitish;
    font-size: $font-size;

    p {
      line-height: 2;
    }
  }
}
