@import 'common';

.ListsPage {
  @include background-picture("../img/pic-narrative-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .create-list {
    margin-bottom: 60px;

    form {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;

      input[type='text'] {
        flex-grow: 1;
        margin-right: 40px;
      }

      input[type='submit'] {
        min-width: 160px;
      }
    }
  }

  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -20px;

    &__list {
      $square-side: 120px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-family-sans-serif;
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $color-mine-shaft;
      width: $square-side;
      height: $square-side;
      margin: 20px;
      cursor: pointer;
      background-color: $color-bright-sun;
      border: 3px solid $color-bright-sun;
      border-radius: 3px;
      transition: .3s all;

      &:hover {
        color: $color-bright-sun;
        background-color: $color-mine-shaft;
      }
    }
  }
}
