@import 'common';

.StudyPage {
  @include background-picture("../img/pic-narrative-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .bottom-links {
    text-align: center;
    padding: 30px 0 15px;
  }
}
