@import 'common';

.WordsPage {
  @include background-picture("../img/pic-narrative-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .heading {
    display: flex;
    justify-content: space-between;

    h1 {
      width: 100%;
    }

    button {
      $radius: 100px;

      background-color: $color-bright-sun;
      width: $radius;
      height: $radius;
      border-radius: $radius;
      padding: 0;
      flex-shrink: 0;
      margin-right: 20px;
      color: $color-mine-shaft;
      text-transform: uppercase;
      box-shadow: 0 0 10px 2px $color-bright-sun;
      font-size: 18px;

      &:hover {
        box-shadow: 0 0 10px 2px $color-black;
      }
    }
  }

  .add-word {
    margin-bottom: 60px;

    form {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;

      input[type='text'] {
        flex-grow: 1;
        margin-right: 40px;
      }

      input[type='submit'] {
        min-width: 160px;
      }
    }
  }

  .words {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    padding: 10px;
    background-color: $color-white;

    &__word {
      color: $color-mine-shaft;
      padding: 15px;
      transition: .3s all;
      font-family: $font-family-sans-serif-words;
      font-size: 16px;
      cursor: pointer;
      border-radius: 3px;
      border-top: 1px solid $color-gallery;
      display: flex;
      justify-content: space-between;

      &--name {
        font-weight: 600;
      }

      &--translation {
        font-weight: 300;
        color: $color-silver-chalice;
      }

      &:first-child {
        border-top: none;
      }

      &:hover {
        color: $color-burnt-sienna;
        border-radius: 0;
      }
    }
  }
}
