@import 'common';

.WordsList {
  @include background-picture("../img/pic-narrative-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .add-word {
    margin-bottom: 60px;

    form {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;

      input[type='text'] {
        flex-grow: 1;
        margin-right: 40px;
      }

      input[type='submit'] {
        min-width: 160px;
      }
    }
  }

  .words {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    background-color: $color-white;

    &__word {
      color: $color-mine-shaft;
      padding: 5px;
      margin-bottom: 1px;
      transition: .3s all;
      font-family: $font-family-sans-serif-words;
      font-size: 16px;
      font-weight: 400;
      margin: 5px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        color: $color-burnt-sienna;
      }
    }
  }
}
