@import 'common';

.WordsList {
  @include background-picture("../img/pic-elephant-high.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;

  .container {
    max-width: 800px;
    margin: $header-height auto;
    background-color: rgba(0,0,0,.4);
    padding: 30px 50px;
  }

  .add-word {
    margin-bottom: 60px;

    form {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;

      input[type='text'] {
        flex-grow: 1;
        margin-right: 40px;
      }

      input[type='submit'] {
        min-width: 160px;
      }
    }
  }

  .words {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;

    &__word {
      color: $color-mine-shaft;
      background-color: $color-bright-sun;
      padding: 15px;
      margin-bottom: 1px;
      transition: .3s all;
      font-family: $font-family-sans-serif;
      font-size: 18px;
      margin: 5px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        color: $color-white;
        text-shadow: 0 0 10px $color-black;
      }
    }
  }
}
